* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary:#1E3A46;
  --secondary:#355C6B;
  --background:#F3F5F7;
  --card:#FFFFFF;
  --border:#DCE3E7;
}

body{
  font-family: Arial, sans-serif;
  background: var(--background);
}

.app-header{
  background: var(--primary);
  color:white;
  padding:20px;
  text-align:center;
}

#app{
  max-width:430px;
  margin:auto;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:18px;
}

.btn{
  width:100%;
  padding:18px;
  margin-bottom:15px;
  border:none;
  border-radius:14px;
  background:var(--primary);
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.btn-back{
  background:none;
  border:none;
  margin-bottom:15px;
  cursor:pointer;
}

.form-group{
  margin-bottom:16px;
}

label{
  display:block;
  margin-bottom:8px;
  font-weight:bold;
}

input, select, textarea{
  width:100%;
  padding:12px;
  border:1px solid var(--border);
  border-radius:10px;
}

.row{
  display:flex;
  gap:10px;
}

.col{
  flex:1;
}

.app-footer{
  text-align:center;
  padding:15px;
}